In [ ]:
number = int(input(" Enter the number of month"))

if (number < 1 or number > 12 ):
  print ("valid month")
elif (number >= 1 and number <= 3):
  print("Q1")
elif (number >= 4 and number <= 6):
  print("Q2")
elif (number >= 7 and number <= 9):
  print("Q3")
elif (number >= 10 and number <= 12):
  print("Q4")

In [ ]:
mass = int(input("Enter mass"))
weight = mass* 9.0

print("mass {0} kilogram is {1} newton".format(mass,weight))


if weight <= 100 :
  print("Too light")
elif weight >= 500 :
  print("Too heavy")

In [ ]:
month = int(input("Enter month"))
day = int(input("Enter day"))
year = int(input("Enter year"))

if (month*day == year):
  print("the date is magic!!!" )
else:
  print("The is not magic")

In [ ]:
piece = int(input("Put how many of piece"))

if (piece >= 10)and(piece <= 19):
  discount = 0.1
elif (piece >= 20)and(piece <= 49):
  discount = 0.2

price = piece*99
total_price = price*(1-discount)

print (piece,price)

In [ ]:
year = int(input("enter no of year"))

if (year%400 == 0):
    print ("February" , year , "has 29 day")
elif ((year%100) and (year%4) == 0) :
     print ("February" , year , "has 29 day is a leap year" )
else :
     print ("February" , year , "has 28 day")

In [ ]:
for time in [10,20,30,45,60]:
    burn_calories_time = time*4.2
    print("for the time {0} I can Burn calories {1} cal." .format(time , burn_calories_time))

In [ ]:
speed = int(input(""))
time = int(input(""))

print("minute  Distance Traveled")
print("====   =================")

for h in range (time):
  distance = speed * h

  print( h ,distance , sep = "      " )

In [82]:
num_of_year = int(input("Enter number of year"))

if( num_of_year >= 1) :

  liter_rain = 0.0
  for y in range(num_of_year):
    print ("year" , y+1)
    for m in range(1,13):
      text = "Enter in inche of rainfall for month {0} of year {1}".format(m,num_of_year)
      rainfall = float(input("text"))
      total_rain_fall =+ rainfall

  print(num_of_year ,"number of year")
  print(rainfall,"litre_rain")
  print(total_rain_fall,"total raint")

else:
    print ("No rain")

year 1

ValueError: could not convert string to float: ''

In [85]:
num_of_year = int(input("Enter number of year:"))

if(num_of_year >= 1) :
    
    total_rainfall = 0.0
    for year in range(num_of_year):
        print("Year ", year+1)
        for month in range(1,13) :
            text = "Please enter the inches of rainfall for month {0} of year {1} : ".format(month, year+1) 
            rainfall = float(input(text))
            total_rainfall = total_rainfall + rainfall


    print("==================================================")
    print("Total number of months: ", (num_of_year * 12), "month")
    print("Total rainfalls: {0}".format(total_rainfall))
    print("Average monthly rain: {0}".format( total_rainfall / (num_of_year * 12)))
    
else:
    print("Invalide number of year")

Year  1
==================================================
Total number of months:  12 month
Total rainfalls: 90.0
Average monthly rain: 7.5

In [90]:
tutition = 8000
print ("The tutition amount $",tutition)

for year in range(1,6) :
  tutition = tutition* (1 + (3/100))
  print("The tuition amount after {0} years is ${1:.2f}".format(year,tutition))

The tutition amount $ 8000
The tuition amount after 1 years is $8240.00
The tuition amount after 2 years is $8487.20
The tuition amount after 3 years is $8741.82
The tuition amount after 4 years is $9004.07
The tuition amount after 5 years is $9274.19

In [94]:
def miles_to_feet(mile):
  return mile * 5280

no_mile = float(input("Enter of mile :"))
feet = miles_to_feet(no_mile)
print (f"{no_mile:,} mile = {feet:,.2f} feet")

25.0 mile = 132,000.00 feet

In [109]:
def add(a, b):
    result = a + b
    return result

In [110]:
add(2,3)

5

In [116]:
def add(x):
  result = x+5
  return result

In [117]:
add(7)

12

In [124]:
def total_secound(hours,minutes,seconds):
  return ((hours*60*60) + (minutes*60) + seconds)


total_secound(3,3,3)

10983

In [127]:
#Rectangle Perimeter

def long_rectangle(width,height):
  return (width+height)*2

def area_rectangle(width,height):
  return (width*height)

In [128]:
area_rectangle(4,10)

40

In [129]:
import math

def circle(radius) :
  return (2.0* math.pi) * radius

In [130]:
circle(30)

188.49555921538757

In [141]:
def fv(present_value , annual_rate , year):
  return present_value * pow(( 1 + annual_rate / 100 ), year)

present_value = 1000
annual_rate = 3
year = 20

fv = future_value(present_value, annual_rate, year)
print(f'The future value of ${present_value:,} in {year} years at an annual rate of {annual_rate}% is ${fv:,.5f}')

The future value of $1,000 in 20 years at an annual rate of 3% is $1,806.11123

In [3]:
  name = input("who are you? ")
print("hello" , (name))

hello net

In [4]:
firstname = 'Net'
beverage = 'coffee'
drink_time = 2
money = 45
print('My name is %s. I like a %s and drink it %s time(s) a day.' % (firstname, beverage, drink_time))

My name is Net. I like a coffee and drink it 2 time(s) a day.

In [5]:
firstname = 'Net'
beverage = 'coffee'
drink_time = 2
money = 45
result_message = 'My name is {}. I like a {} and drink it {} time(s) a day.'.format(firstname, beverage, drink_time)
print(result_message)

My name is Net. I like a coffee and drink it 2 time(s) a day.

In [11]:
def name_tag(firstname,lastname):
  message = "My name is %s %s" %(firstname,lastname)
  return message

print(name_tag("net" , "chom"))

My name is net chom

In [22]:
def name_and_age (name,age):
  message1 = "my name is {} and I'm {} years old " .format(name,age)
  return message1

print(name_and_age("net","23"))

my name is net and I'm 23 years old